<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arkk">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logoark_background"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logoark_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".pantallaComparar"></activity>
        <activity android:name=".pantallaInformacionVaca" />
        <activity android:name=".pantallaRaza" />
        <activity android:name=".pantallaVaca" />
        <activity android:name=".pantallaRecuperarContra" />
        <activity android:name=".pantallaRegistro" />
        <activity android:name=".pantallaMapa" />
        <activity android:name=".pantallaNoticias" />
        <activity android:name=".pantallaGaleria" />
        <activity android:name=".BuscarAnimales" />
        <activity android:name=".MenuPrincipal" />
        <activity android:name=".menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>